body {
    background-color: black;
    overflow: hidden;
    font-family: Helvetica, serif;
    font-size: 10vh;
    color: white;
    text-align: center;
    line-height: 8vh;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    margin:0;
}

#randomangry, #randomangrier, #randomangriest{
  position:relative;
  top:30vh
}

#main{
  width:100vw;
  height:100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;  
  border:0;
}

button{
    color: white;
    background-color: transparent; 
    border-color: transparent; 
    cursor: default;
    font-size:10vh;
    outline:0;
}


.duotone {
    filter: sepia(70%) hue-rotate(100deg) saturate(150%) invert(80%);
   /* -webkit-filter: sepia(70%) hue-rotate(100deg) saturate(200%) invert(80%);
    -moz-filter: sepia(70%) hue-rotate(100deg) saturate(200%) invert(80%);*/
}
.duotoner {
    filter: sepia(90%) hue-rotate(143deg) saturate(206%) invert(100%);
    -webkit-filter: sepia(90%) hue-rotate(143deg) saturate(286%) invert(100%);
    -moz-filter: sepia(90%) hue-rotate(143deg) saturate(286%) invert(100%);
    opacity:0.5;

}
.duotonest {
    filter: sepia(90%) hue-rotate(143deg) saturate(286%) invert(100%);
    -webkit-filter: sepia(90%) hue-rotate(143deg) saturate(286%) invert(100%);
    -moz-filter: sepia(90%) hue-rotate(143deg) saturate(286%) invert(100%);
    opacity:0.8;

}

p{
  margin:0;
  padding:0;
}

.hidden{
  color:rgba(255,255,255,0.3);
}
.visible{
  color:rgba(255,255,255,1);
}


